.card-label__container {
   position: absolute;
   bottom: 90px;
   right: 0;
}

.card-label__content {
   background-color: #0d0d0d;
   padding: 0.3rem 2rem;
   
   display: flex;
   align-items: center;
   justify-content: center;
}

.card-label__content > p {
   font-size: 0.75rem;
   font-weight: bold;
}