.home__container {
   width: 95vw;
   margin: auto;
   padding: 50px 0;

   display: flex;
   flex-wrap: wrap;
   align-items: baseline;
   justify-content: center;
   gap: 1rem;
}

@media screen and (max-width: 480px) { 
   .home__container {
      padding-top: 100px;
   }
}