.menu-bar__container {
   width: 100vw;
   padding: 0.5rem 2rem;
   background-color: #fff;
   position: fixed;
   z-index: 99;
   display: flex;
}

.menu-bar__logo {
   display: flex;
   align-items: center;
}

.menu-bar__logo img {
   max-width: 150px;
}

.menu-bar__item {
   margin: auto;
   display: flex;
   align-items: center;
}

.menu-bar__item ul {
   display: flex;
   gap: 1.5rem;
}

.menu-bar__item li > a {
   padding: 5px;
   color: #333;
}

.menu-bar__item li > a:hover {
   color: blue;
   font-weight: 700;
}

/*******************************
    VERSÃO P/ SMARTPHONE
*******************************/

@media screen and (max-width: 480px) { 
   .menu-bar__container {
      padding: 0.5rem 2rem;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;
   }
   
   .menu-bar__logo {
      display: flex;
      align-items: center;
   }

   .menu-bar__item {
      margin: 0 5px;
   }
   
   .menu-bar__item ul {
      gap: 0.8rem;
   }
}