/*
DESENVOLVEDOR: Thales Cardoso
GITHUB: https://github.com/thalesacardoso
LINKEDIN: https://www.linkedin.com/in/thalesacardoso/
DATA: 07/02/2024
*/

* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
   list-style: none;
   color: #FFF;
}

html {
   font-size: 16px;
}

body {
   background: rgb(2, 0, 36);
   background: linear-gradient(90deg,
         rgba(2, 0, 36, 1) 0%,
         rgba(9, 9, 121, 1) 35%,
         rgba(9, 9, 121, 1) 100%);
}

h1 {
   font-size: 1.5rem;
   font-weight: 800;
}

h2,
h3 {
   font-size: 1.2rem;
   font-weight: bold;
   font-family: Calibri;
}

p {
   font-size: 1rem;
   font-weight: 400;
}

a {
   font-size: 1rem;
   font-weight: 600;
}

img {
   max-width: 100%;
}

button {
   cursor: pointer;
}